<a href="https://colab.research.google.com/github/MiguelG26/Learning/blob/master/Covid19_byMike.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd #
import seaborn as sns

In [9]:
df = pd.read_csv('https://opendata.ecdc.europa.eu/covid19/casedistribution/csv')

In [10]:
len(df)

28250

In [11]:
df.head()

      dateRep  day  month  ...  countryterritoryCode  popData2019  continentExp
0  07/07/2020    7      7  ...                   AFG   38041757.0          Asia
1  06/07/2020    6      7  ...                   AFG   38041757.0          Asia
2  05/07/2020    5      7  ...                   AFG   38041757.0          Asia
3  04/07/2020    4      7  ...                   AFG   38041757.0          Asia
4  03/07/2020    3      7  ...                   AFG   38041757.0          Asia

[5 rows x 11 columns]

In [26]:
df1=df.groupby('countriesAndTerritories')[['cases','deaths']].sum().sort_values('cases',ascending=False)
df1['%All_Cases']=(df1['cases']/df1['cases'].sum()*100).round(2)
df1['mortality_rate']=(df1['deaths']/df1['cases']*100).round(2)
df1.head(10)

                            cases  deaths  %All_Cases  mortality_rate
countriesAndTerritories
United_States_of_America  2938625  130306       25.36            4.43
Brazil                    1623284   65487       14.01            4.03
India                      719665   20160        6.21            2.80
Russia                     687862   10296        5.94            1.50
Peru                       305703   10772        2.64            3.52
Chile                      298557    6384        2.58            2.14
United_Kingdom             285768   44236        2.47           15.48
Mexico                     261750   31119        2.26           11.89
Spain                      251789   28388        2.17           11.27
Iran                       243051   11731        2.10            4.83